:host {
    display: block;
    width: 60vw;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 16px;
    background-color: rgb(117, 136, 146);
    border-radius: 8px;
}

.nav-buttons a {
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

.nav-buttons a:hover {
    background-color: rgb(78, 90, 97);
}

.nav-buttons .active-link {
    background-color: rgb(103, 119, 128);
}